a {
  border: var(--d);
  background: var(--c);
  padding: var(--a);
}

:root {
  --a: 1%;
  --d: var(--c) var(--b) var(--a);
  --c: hsl(20deg, var(--b), var(--a));
  --b: calc(var(--a) + 2%);
}

.theme {
  --b: 3;
}
